
<%= form_for @dish do |f| %>
  <% if @dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
      <% @dish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br/>
    <%= f.text_field :price %>
  </div>

  <% params[:course_id] ? d = {disabled: true} : d = {} %>
  <div class="field">
    <%= f.label :course_id %><br/>
    <%= link_to(new_course_path) do %>
    <i class="fa fa-plus-square"></i>
    <% end %>
    <%= select_tag :course_id, options_from_collection_for_select(@courses, 'id', 'name', selected: params[:course_id] || @dish.course.id), d %>
  </div>


  <div class="field">
    <%= f.label :description %><br/>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
