<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
  <%= f.label :mealtime_id %><br/>
    <%= link_to(new_mealtime_path) do %>
    <i class="fa fa-plus-square"></i>
    <% end %>
    <%= f.collection_select(:mealtime_id, @mealtimes, :id, :name) if @mealtimes %>
  </div>

  <div class="field">

    <%= f.label :photo_id %><br/>
    <%= link_to(new_photo_path) do %>
    <i class="fa fa-cloud-upload"></i>
    <% end %>
    <%= f.select :photo_id, options_for_select(
      @photos.map { |p| [p.caption, p.id, {"data-image-src" => p.picture.url(:medium) }]} ), {},
      { class: "image-picker masonry show-labels" } %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>


  <script>
    // Execute the Image Picker
    $("#course_photo_id").imagepicker({show_label: true, hide_select: false});

    // Better align uneven images
    var container = jQuery("#course_photo_id").next("ul.thumbnails");
    container.imagesLoaded(function(){
      container.masonry({
        itemSelector:   "li",
      });
    });
  </script>
<% end %>



