<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Mealtime:</strong>
  <%= @course.mealtime_name %>
</p>

<p>
  <strong>Photo:</strong><br/>
  <%= image_tag @course.photo.picture.url(:medium) %>
</p>

<%= link_to 'Create new dish', new_course_dish_path(course_id: @course.id) %>
<%= render partial: "dishes/list", locals: {course: @course} %>
|
<%= link_to 'Back', courses_path %>
